@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap');

$gap: 10px;
$column-bg-color: #ebecf0;
$border-radius-column: 5px;

$column-width: 300px;
$height-footer-header-column: 30px;
