@import '_settings.scss';

$board-bg-color: #339933;

body {
    margin: 0;
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 100%;
    line-height: 1.5em;
}
div,
p,
button,
input,
label {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color;
}
